<h1>LUBABALO'S SHOE WONDERLAND</h1>
<div class="adding">
    <h2>ADD SHOE TO STOCK</h2>

    <form action="/admin" method="get">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" required>
        <br>
        <label for="size">Size:</label>
        <input type="number" id="size" name="size" required>
        <br>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" required>
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>

        <br>
        <label for="price">Picture URL:</label>
        <input type="text" id="picture" name="picture" required>
        <br>

        <button type="submit">Add Shoe</button>
    </form>
</div>