<h1>LUBABALO'S SHOE WONDERLAND</h1>
<p class="picIns">NB: Please add only shoe pictures that are 200x200 pixels.</p>
<div class="adding">
    <h3>ADD SHOE TO STOCK</h3>

    <form action="/admin" method="post">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" required>
        <br>
        <label for="size">Size:</label>
        <input type="number" id="size" name="size" required>
        <br>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" required>
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <br>

        <label for="quantity">Quantity:</label>
         <input type="number" id="quantity" name="in_stock" required>

        <br>
        <label for="price">Picture URL:</label>
         <input type="text" id="picture" name="img_url" required>
        <br>

        <button type="submit">Add Shoe</button>
    </form>
</div>

