body {
    margin: 0;
    font-family: Kenao;
    background-color: #013220;
    color: #d2bd97 ;
    padding-top: 50px;
    
}

header {
    background-color: #013220;
    padding: 10px 20px;
}
h1{
    color: #d2bd97;
    line-height: 1.10886918em;
    text-align: center !important;
    font-size: 30px;   
    letter-spacing: 0.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #013220;
    
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.nav-links a:hover {
    color: #ffcc00;
}
.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;
  }
  
  .icon-cart path {
    fill: #fff;
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: rgb(137, 114, 98);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  
  .quantity {
    display: none;
  }
  .paste-button {
    position: relative;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .button {
    background-color: #d2bd97;
    color: #212121;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #212121;
    border: 2px solid #d2bd97;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: #d2bd97;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
    
  }
  
  .dropdown-content a:hover {
    background-color: #d2bd97;
    color: #212121;
  }
  
  .dropdown-content a:focus {
    background-color: #212121;
    color: #d2bd97;
  }
  
  .dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
  }
  
  .dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
  }
  
  .paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .paste-button:hover .dropdown-content {
    display: block;
  }


  .filter-group {
    display: flex;
    gap: 10px; 
    margin-bottom: 6px;
}
.paste-button {
  position: relative;
  display: inline-block;
}
 
.CartBtn {
    width: 100px;
    height: 40px;
    border-radius: 10px; 
    border: none;
    background-color: #6c7c59;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
  width: 300px;
  background-color: #fff;
  overflow: hidden;
  margin: 20px;
  
  
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1a1c1d;
}

.card-description {
  font-size: 14px;
  color: #1b1919;
}
.shoes{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 10px;
  margin: 20px;
  padding: 20px;
}


.box {

  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.headerBtn{
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
